


.logo{
    max-width: 70px;
    border-radius:50%;
}


.leftSide{
    display: flex;
    align-items: center;
    justify-content: start;

}
.rightSide{
    display: flex;
    align-items: center;
    justify-content: end;
}

#searchBox{         
    margin-right: 20px;
    
}

.right{
    float: right;
}