.loginScreen {
    
    display: flex;    
    justify-content: center;
    height: 100%;
    padding: 1%;
    margin : 10px;
    padding-bottom: 80px;

}

.loginBoxes{
    box-sizing: content-box;
    background-color: darkblue;
    color: white; 
    padding: 20px;
    height: 100%;    
    margin: 10px;
    
}

.tab-content{
    height: 100%;
}

