#tellingYouPage{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;    
    height: 100%;
    color: Green
        
}

#TYPcontent{   
    
    text-align: center;
    align-items: center;
    opacity: 1.0;
    
}
#TYPBox{
    box-sizing: border-box;
    border: 20px;
    width: auto;
    background-color: beige;
}
.cityOuterContainer{
    width: 100%;
    align-content: center;    

}

.cityContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.weatherToday{
    width: 100%;
    
    justify-content: center;
    opacity: 1.0;
    display: flex;
}
#saveBut{
    width: 25px;
    background-color: green;
    
}
.saveFav{
    
    
}

.weatherForecast{
    display: flex;
    align-content: center;
    justify-content: space-around;
    row-gap: 5px;

}
.forecastBox{
    flex: 1;
}
.spacer {
    flex: 2;
}

.weatherBox {
    align-items: center;
    width: 20%;
    text-align: center;
    padding: 10px;
    outline: 5px;
    outline-color: black;
    border-style: solid;
    border-color: black;
    
    opacity: .8;
    flex: 1;
    
}

#weatherImage {
    width: 100%;

}