#tellingYouPage{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;    
    height: 100%;
    color: Green
        
}
#TYPcontent{
    width: 100%;
    text-align: center;
    align-items: center;
    opacity: 1.0;
    
}
#TYPBox{
    width: auto;
    background-color: beige;
}
.cityOuterContainer{
    width: 100%;
    align-content: center;
    

}

.cityContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.weatherToday{
    width: 100%;
    
    justify-content: center;
    opacity: 1.0;
    display: flex;
}
#saveBut{
    width: 25px;
    background-color: green;
    
}
.saveFav{
    
    
}

.weatherForecast{
    display: flex;
    align-content: center;
    row-gap: 5px;

}
.forecastBox{
    flex: 1;
}
.spacer {
    flex: 2;
}
